<app-header />

<main>
  <ul id="users">
    @for(user of users; track user.id){
    <!-- <li *ngFor="let user of users"> -->
    <li>
      <!-- <app-user [user]="user" (select)="onSelectUser($event)" [selected]="user.id === selectedUser()!.id"/> -->
      <app-user [user]="user" (select)="onSelectUser($event)" [selected]="user.id === selectedUser()?.id"/>
    </li>
    }
  </ul>

  <!-- <app-tasks [userName]="selectedUser"/> -->
  @if (selectedUser()) {
  <!-- <app-tasks *ngIf="selectedUser(); else fallback" [userName]="selectedUser()!" /> -->
  <app-tasks [userName]="selectedUser()!.name" [userId]="selectedUser()!.id"/>
  }@else {
  <!-- <ng-template #fallback> -->
    <p id="fallback">Select a user to see their tasks!</p>
  <!-- </ng-template> -->
  }
  <!-- <app-tasks [userName]="selectedUser()"/> -->
</main>
